@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: halogen-light;
  src: url("https://use.typekit.net/af/e8ded5/00000000000000007735a389/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3");
}

@font-face {
  font-family: halogen-light;
  src: url("https://use.typekit.net/af/e8ded5/00000000000000007735a389/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3");
}

@font-face {
  font-family: halogen-regular;
  src: url("https://use.typekit.net/af/9470e7/00000000000000007735a397/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3");
}

@font-face {
  font-family: halogen-bold;
  src: url("https://use.typekit.net/af/df64f2/00000000000000007735a379/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3");
}

@font-face {
  font-family: halogen-black;
  src: url("https://use.typekit.net/af/e8ded5/00000000000000007735a389/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3");
}

/* * {
  border: 1px red solid;
} */

.dashed {
  background: linear-gradient(90deg, #333 0%, transparent 0) repeat-x,
    linear-gradient(90deg, #333 0%, transparent 0) repeat-x,
    linear-gradient(0deg, #333 0%, transparent 0) repeat-y,
    linear-gradient(0deg, #333 0%, transparent 0) repeat-y;
  background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
}

.dashed:hover {
  animation: animateDash 0.5s infinite linear, showDash 1s forwards ease-in-out;
}

@keyframes animateDash {
  100% {
    background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}

@keyframes showDash {
  100% {
    background: linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
      linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
      linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
      linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
    background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }
}
