$primary-color: #6200ff;
$page-margin: 30px;

.TitleBar {
    color: white;
    font-size: 3rem;
    margin: $page-margin;
}

.TitleText {
    margin: 0px;
    font-family: botanika-mono-web, monospace;
    font-weight: 600;
    font-style: italic;
}

.ProjectSection {
    h2 {
        margin: 0px;
    }
    margin: $page-margin;
}
